{
  "plugins": [
    "react",
    "react-native"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true,
    }
  },
  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "no-console": 0,
    "semi": [1, "never"],
    "no-var": 1
  },
  "globals": {
    "console": false,

    # React native
    "fetch": false,
    "Promise": false,
    # React's babel
    "require": false,

    # Mocha
    "describe": false,
    "it": false,
    "expect": false
  },
  "env": {
    "browser": true,
    "node": true
  }
}
